

.paper{
    width: 75%;
    margin: auto;
}

.paper-nb{
    width: 75%;
    margin: auto;
    margin-bottom: 5%;

}

.container{
    display: flex;
}

.domaines{
    font-weight: bold;
    color: rgb(201, 52, 15);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;



}

.domainButton{
    margin-bottom: 2.5vh;
}

.questionList{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;

}