.questionList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.question-paper{
    padding: 2.5vh;
    margin: 2.5vh;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin-top: 6vh;
    margin-bottom: 10vh;
    margin-left: 4vw;

}
#submit{
    background-color: white;
    font-weight: bold;
}